body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#sidebar {
    background-color: #2196F3; /* dark blue */
    padding: 20px;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

#sidebar h2 {
    color: #fff;
}

#sidebar p {
    color: #fff;
}

#main-content {
    margin-left: 200px;
    padding: 20px;
}

#home-page {
    text-align: center;
}

#quiz-page {
    display: none;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
    color: #42A5F5; /* light blue */
}

#answers {
    margin-bottom: 20px;
}

button {
    background-color: #64B5F6; /* sky blue */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #56B3FA; /* light sky blue */
}

.correct {
    color: #0097A7; /* teal */
}

.incorrect {
    color: #EF5350; /* dark red */
}

.correct-answer {
    background-color: #0097A7; /* teal */
}

.incorrect-answer {
    background-color: #EF5350; /* dark red */
}
